/* this file specifically contains all page styling */

/* Home Page Styling */
.featured_card {
  position: relative;
  display: grid;
  padding-left: 10vw;
  background-color: var(--secondaryColor);
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  width: 100%;
}

.featured_card___photo {
  position: relative;
  grid-area: 1 / 5 / 1 / -1;
  width: 100%;
  height: 100%;
}

.featured_card___photo img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featured_card___content {
  position: absolute;
  grid-area: 1 / 1 / 1 / 6;
  width: 100%;
  padding: 100px 5vw 100px 0;
  overflow: hidden;
}

.featured_card___content h5,
h3 {
  font-family: var(--fontHead);
  text-transform: uppercase;
}

.featured_card___content h5 {
  font-size: calc(10px + 0.4vw);
  font-weight: lighter;
  letter-spacing: 10px;
  color: var(--greyColor_dark);
  margin-bottom: 25px;
}

.featured_card___content h3 {
  color: var(--greyColor_light);
  font-size: calc(20px + 2vw);
  letter-spacing: 2px;
}

.featured_card___content p {
  font-family: var(--fontBody);
  color: var(--greyColor);
  font-size: calc(10px + 0.5vw);
  padding: 30px 0;
}

.featured_card___content a {
  font-family: var(--fontBody);
  font-size: calc(12px + 0.2vw);
  color: var(--primaryColor);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: var(--buttonColor);
}

.product_carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  width: 100%;
  padding: 8vw 9vw 5vw;
}

.product_carousel___item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--greyColor_light);
  border-radius: 5px;
  width: 300px;
  height: 200px;
  margin: 0 20px;
  text-align: center;
  flex: 1;
}

.carousel_image {
  position: relative;
  top: -50px;
  /* width: 170px; */
  height: 200px;
}

.carousel_image img {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel_content {
  position: relative;
  top: -50px;
  width: 100%;
  height: 100%;
  display: block;
  font-family: var(--fontHead);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.carousel_content h4 {
  padding: 10px 0;
}

.carousel_content a {
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .product_carousel {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-direction: column;
    padding: 80px 10vw;
  }

  .product_carousel___item {
    width: 100%;
    margin: auto;
  }
}

.featured_product___card_list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 10vw;
}

.featured_product___card {
  position: relative;
  background-color: var(--buttonColor);
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.featured_product___image {
  position: relative;
  grid-area: 1 / 1 / 1 / 7;
  width: 100%;
  height: 100%;
}

.featured_product___image img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.featured_product___content {
  position: relative;
  padding: 100px 0;
  grid-area: 1 / 8 / 1 / -1;
  color: var(--greyColor_light);
  width: 100%;
  height: 100%;
}

.featured_product___content h3 {
  font-family: var(--fontHead);
  font-size: calc(20px + 1.5vw);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.featured_product___content p {
  padding: 30px 0 50px;
  font-size: calc(14px + 0.2vw);
  font-family: var(--fontBody);
}

.featured_product___content a {
  font-family: var(--fontBody);
  font-size: calc(12px + 0.3vw);
  text-transform: uppercase;
  padding: 15px 20px;
  color: var(--greyColor_light);
  background-color: var(--secondaryColor);
}

.featured_product___card:nth-child(2) {
  background-color: var(--greyColor_light);
}

.featured_product___card:nth-child(2) .featured_product___image {
  grid-area: 1 / 7 / 1 / -1;
}

.featured_product___card:nth-child(2) .featured_product___content {
  grid-area: 1 / 2 / 1 / 6;
}

.featured_product___card:nth-child(2) h3 {
  color: var(--secondaryColor);
}

.featured_product___card:nth-child(2) a {
  margin-top: 40px;
  padding: 15px 20px;
  font-weight: bold;
  background-color: transparent;
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
}

.featured_product___card:nth-child(3) {
  background-color: transparent;
  padding: 0;
  gap: 30px;
}

.featured_product___card:nth-child(3) .featured_product___image {
  grid-area: 1 / 1 / 1 / 7;
  width: 100%;
  height: 400px;
}

.featured_product___card:nth-child(3) .featured_product___image img {
  object-fit: cover;
  border-radius: 10px;
}

.featured_product___card:nth-child(3) .featured_product___content {
  width: 100%;
  height: 100%;
  padding: 100px 50px;
  background-color: var(--greyColor_light);
  grid-area: 1 / 7 / 1 / -1;
  border-radius: 10px;
}

.featured_product___card:nth-child(3) h3 {
  color: var(--secondaryColor);
}

.featured_product___card:nth-child(3) a {
  position: relative;
  margin-top: 50px;
  font-weight: bold;
  color: var(--secondaryColor);
  background-color: transparent;
  border: 2px solid var(--secondaryColor);
}


@media only screen and (max-width: 1000px) {
  .featured_product___card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .featured_product___content {
    padding: 30px 0 0 0;
  }

  .featured_card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }

  .featured_card___photo {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
  }

  .featured_card___photo img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .featured_card___content {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0 18vw;
    overflow: hidden;
  }

  .featured_card___content h5 {
    font-size: calc(18px + 0.3vw);
  }

  .featured_card___content h3 {
    font-size: calc(20px + 4vw);
  }

  .featured_card___content p {
    font-size: calc(16px + 0.3vw);
  }

  .featured_card___content a {
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
  }
}

.advertisement_card {
  position: relative;
  display: grid;
  padding: 0px 10vw;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.advertisement_card___photo {
  position: relative;
  margin: auto;
  width: 100%;
  grid-area: 1 / 8 / 1 / -1;
  height: 80%;
}

.advertisement_card___photo img {
  display: block;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.advertisement_card___content {
  position: relative;
  display: block;
  grid-area: 1 / 1 / 1 / 7;
  padding: 100px 5vw 100px 0;
  width: 100%;
}

.advertisement_card___content h3 {
  font-family: var(--fontHead);
  text-transform: uppercase;
  font-size: calc(16px + 1vw);
  letter-spacing: 2px;
  color: var(--secondaryColor);
}

.advertisement_card___content h3 span {
  color: var(--buttonColor);
}

.advertisement_card___content p {
  color: var(--greyColor);
  font-family: var(--fontBody);
  font-size: calc(10px + 0.3vw);
  padding: 20px 0;
}

@media only screen and (max-width: 700px) {
  .advertisement_card {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .advertisement_card___content {
    text-align: center;
    padding: 70px 0;
  }

  .advertisement_card___photo {
    position: relative;
    width: 100%;
    height: 50vh;
    display: block;
  }
}

/* headphones, speakers and Earphones page styling */
.page_title {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0 30px;
  font-family: var(--fontHead);
  font-size: calc(20px + 0.3vw);
  text-transform: uppercase;
  background-color: var(--secondaryColor);
  color: var(--greyColor_light);
}

.page_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}

/* product page styling */
.product_page {
  padding: 40px 0;
}

.product_page a {
  padding: 0 10vw;
  font-size: calc(14px + 0.2vw);
  font-family: var(--fontBody);
  color: var(--secondaryColor);
  text-transform: capitalize;
}

.product_page___feature_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 10vw;
}

.product_page___feature_container h3 {
  font-family: var(--fontHead);
  font-size: calc(20px + 0.3vw);
  padding-bottom: 20px;
  color: var(--secondaryColor);
}

.product_page___feature {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 60%;
}

.product_page___feature p {
  color: var(--greyColor_dark);
  font-family: var(--fontBody);
  font-size: calc(12px + 0.2vw);
}

.product_page___box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 40%;
  padding-left: 5vw;
}

.product_page___box ul {
  font-family: var(--fontBody);
}

.product_page___box ul span {
  color: var(--buttonColor);
  font-size: calc(18px + 0.2vw);
  padding-right: 20px;
}

.product_page___box ul li {
  color: var(--greyColor_dark);
  text-transform: capitalize;
}

.product_page___grid_image {
  position: relative;
  display: grid;
  width: 100%;
  padding: 40px 10vw;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 300px;
}

.product_page___grid_image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.product_page___grid_image img:nth-child(1) {
  grid-area: 1 / 1 / 1 / 7;
}
.product_page___grid_image img:nth-child(2) {
  grid-area: 2 / 1 / 3 / 7;
}
.product_page___grid_image img:nth-child(3) {
  grid-area: 1 / 7 / 3 / -1;
}

@media only screen and (max-width: 700px) {
  .product_page___grid_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product_page___grid_image img {
    height: 300px;
  }
}