@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

:root {
  --primaryColor: #FAFAFA;
  --secondaryColor: #090909;
  --greyColor_light: #e0e0e0;
  --greyColor_dark: #5e5e5e;
  --greyColor: #b9b9b9;

  --fontHead: 'Ubuntu', sans-serif;
  --fontBody: 'Montserrat', sans-serif;
}

* {
  /* position: relative; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* styling for scroll-bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondaryColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primaryColor);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--fontBody);
}

/* Navbar styling */
header {
  position: fixed;
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 99;
  padding: 20px 10vw;
}

nav a {
  color: var(--greyColor_light);
  font-family: var(--fontHead);
  letter-spacing: 2px;
}

nav {
  position: relative;
  background-color: transparent;
  /* border-bottom: 0.5px solid var(--greyColor);
  padding-bottom: 20px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

/* footer styling */
footer {
  background-color: var(--secondaryColor);
  margin-top: auto;
  color: var(--primaryColor);
}

/* container containing main content and footer styling */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
  /* padding: 80px 0; */
}

.icon_hover {
  position: relative;
  border-radius: 5px;
  padding: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.icon_hover:hover {
  background-color: var(--primaryColor);
  fill: #121212;
}

.featured_card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.featured_card___photo {
  position: relative;
  width: 100%;
  height: 100vh;
}

.featured_card___photo img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featured_card___content {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 0 20vw;
  overflow: hidden;
}

.featured_card___content h5,
h3 {
  font-family: var(--fontHead);
  text-transform: uppercase;
}

.featured_card___content h5 {
  font-size: calc(14px + 1vw);
  font-weight: lighter;
  letter-spacing: 10px;
  color: var(--greyColor_dark);
  margin-bottom: 3vw;
}

.featured_card___content h3 {
  color: var(--greyColor_light);
  font-size: calc(25px + 4vw);
  letter-spacing: 2px;
}

.featured_card___content p {
  font-family: var(--fontBody);
  color: var(--greyColor);
  font-size: calc(12px + 1vw);
  padding: 30px 0;
}

.featured_card___content button {
  font-family: var(--fontBody);
  font-size: 20px;
  color: var(--greyColor_light);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: rgb(255, 89, 0);
}