.card {
    position: relative;
    display: grid;
    /* remove horizontal padding if card_photo has height 70% */
    padding: 2vw 10vw;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.card_photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    grid-area: 1 / 8 / 1 / -1;
    background-color: var(--greyColor_light);
    height: 500px;
}

.card_photo img {
    position: relative;
    display: block;
    border-radius: 10px;
    padding: 2vw;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card_content {
    display: block;
    grid-area: 1 / 1 / 1 / 7;
    padding: 100px 3vw 100px 0;
    width: 100%;
}

.card___reverse .card_content {
    grid-area: 1 / 7 / 1 / -1;
}

.card___reverse .card_photo {
    grid-area: 1 / 1 / 1 / 6;
}

.card_content h3,
.card_content h5 {
    font-family: var(--fontHead);
    text-transform: uppercase;
}

.card_content h3 {
    font-size: calc(16px + 1vw);
    letter-spacing: 2px;
    color: var(--secondaryColor);
}

.card_content h5 {
    font-size: 14px;
    letter-spacing: 10px;
    color: var(--greyColor_dark);
    margin-bottom: 10px;
}

.card_content p {
    color: var(--greyColor);
    font-family: var(--fontBody);
    font-size: calc(10px + 0.3vw);
    padding: 20px 0;
    /* margin-bottom: 20px; */
}

.card_content h4 {
    font-family: var(--fontBody);
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 0 30px;
}

.card_btn {
    font-family: var(--fontBody);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: calc(10px + 0.1vw);
    padding: 14px 20px;
    background-color: var(--buttonColor);
    color: var(--primaryColor);
}

.card_product {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 810px) {
    .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* padding: 20px 10vw; */
    }

    .card_content {
        text-align: center;
        padding: 40px 0;
    }

    .card_photo {
        position: relative;
        width: 100%;
        height: 50vh;
        display: block;
    }

    .card_product {
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .card {
        padding: 20px 10px;
    }
}