.checkout_card {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px 0;
  }
  
  .checkout_product___image {
    position: relative;
    display: block;
    background-color: var(--greyColor_light);
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    flex: 10%;
  }
  
  .checkout_product___image img {
    object-fit: contain;
    width: calc(20px + 2vw);
    height: calc(20px + 2vw);
    display: block;
  }
  
  .checkout_product___details {
    width: 100%;
    flex: 80%;
  }
  
  .checkout_product___action {
    width: 100%;
    flex: 10%;
  }
  
  .checkout_product___details,
  .checkout_product___action h4 {
    /* padding: 0 30px; */
    font-family: var(--fontHead);
  }
  
  .checkout_product___details h3 {
    text-transform: uppercase;
    font-size: calc(12px + 0.3vw);
  }
  
  .checkout_product___action h4 {
    text-align: right;
    font-size: calc(12px + 0.3vw);
    color: var(--greyColor_dark);
  }
  
  .checkout_product___details p {
    font-size: calc(12px + 0.3vw);
    padding: 5px 0;
    color: var(--greyColor_dark);
  }